
*.json

scripts_and_mol_files/temp_added_nodes

scripts_and_mol_files/temp_before_comb

scripts_and_mol_files/temp_edges_active

scripts_and_mol_files/temp_final_nodes

scripts_and_mol_files/temp_free_edges_before

scripts_and_mol_files/temp_inter_nodes

scripts_and_mol_files/temp_internal_edges_before

scripts_and_mol_files/temp_nodes_before

scripts_and_mol_files/temp_numbered_nodes_before

scripts_and_mol_files/temp_proposed_moves

scripts_and_mol_files/temp_trashed_nodes
